@import url("https://fonts.googleapis.com/css?family=Bangers|Homemade+Apple|Pacifico");

body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* Landing */

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./utils/images/canvas.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

/* Footer */
footer {
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
footer p {
  text-align: center;
  color: white;
}

/* Dashboard */

.dashboard {
  position: relative;
  z-index: 1;
  background-color: #eff9f9;
  background-size: cover;
  height: 920px;
}

.clear {
  clear: both;
}

.fixed-action-btn {
  right: 30px;
  bottom: 80px;
}
