@import url("https://fonts.googleapis.com/css?family=Bangers|Pacifico|Montserrat|Nanum+Gothic|Permanent+Marker");

body {
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  background-color: #eff9f9;
}

@-webkit-keyframes fontfix {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/* Landing */

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;

  z-index: -1;
  background-image: url("./utils/images/canvas.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

.scroll-icon {
  position: absolute;
  bottom: 10%;
  left: 47%;
  opacity: 0.5;
}

.info-section {
  position: absolute;
  top: 800px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #d6f0fc;
  margin: 0;
  text-align: center;
  padding: 25px;
}

.info .card {
  max-height: 240px;
  padding: 10px;
  margin-bottom: 30px;
}

.info .card:hover {
  background-color: #b2aab7;
  color: white;
}

/* Footer */

footer {
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f93973;
  height: 3rem;
}
footer p {
  text-align: center;
  color: white;
}

/* Dashboard */

.dashboard {
  position: relative;
  z-index: 1;
  background-color: #eff9f9;
  background-size: cover;
  height: 100vh;
}

/* CreditCheck */

.dashboard .credits {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-top: 0;
  z-index: 10;
  height: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  width: 100%;
  height: 4rem;
  background-color: #fcc7c7;
}

.credits p {
  margin: auto;
}

.fixed-action-btn {
  right: 30px;
  bottom: 80px;
}

/* Survey Form */

.survey-container {
  position: relative;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Review Form */

.survey-review {
  /* position: relative; */
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  z-index: 1;
  margin-top: 0;
  background-size: cover;
  height: 100vh;
}

/* News Section */

.tech-header {
  font-family: "Bangers", cursive;
  font-size: 7rem;
  text-shadow: 6px 6px 6px #b8bfc1;
}

@media (max-width: 700px) {
  .tech-header {
    font-size: 4rem;
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
}

.card img {
  margin: auto;
  min-height: 200px;
}

.card-group .card {
  margin: 16px;
  padding: 0;
  flex: 2;
  min-width: 250px;
  border: 1.2px solid lightgrey;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-group .card p {
  font-family: "Nanum Gothic", sans-serif;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
  flex: 1;
  color: black;
}

.section.hoverable {
  color: black;
}
