// COLORS
$color-primary-light: #fc7790;
$color-primary: #fa4668;
$color-primary-dark: #e50630;

$color-secondary-light: #aebdff;
$color-secondary-dark: #375eff;

$color-tertiary-light: #f5d566;
$color-tertiary-dark: #c69d0d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
